body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color:grey;
}

/*NAVIGATION*/

.navbar-transparent {
	background-color: #333 !important;
}

.navbar-transparent .navbar-nav > li > a {
	color: #fff !important;
	font-weight: 700;
	opacity: 0.5;
	text-transform: uppercase;
}

.navbar-transparent .navbar-nav > li > a:hover {
	opacity: 1;
	background-color: #333;
}

.navbar-transparent .navbar-brand {
	color: #fff !important;
	font-weight: 700;
	opacity: 0.7;
	font-size: 25px;
}

.navbar-transparent .navbar-brand:hover {
	opacity: 1;
	color:#fff !important;
}

.navbar-default {
	background-color:#333 !important;
	border-color:#333 !important;
	/*padding-top:15px;
	padding-bottom:15px;*/
}

.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
    font-weight: 700;
    color:darkseagreen;
}

.navbar-default .navbar-nav > li > a:hover {
	opacity: 1;
	color:darkseagreen !important;
}

.navbar-default .navbar-brand {
	font-weight: 700;
	font-size: 25px;
}

.navbar-default .navbar-brand:hover {
	opacity: 1;
	color:#fff !important;
}

/* HOME PAGE */

.home-page {
    background: url(../img/gmpMain.jpg);
	height: 100%;
	padding-top:50px;
	min-height: 679px;
	/* background-size: contain; */
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
    /* width:100%;
    height:800px; */
    font-family: 'Goudy Bookletter 1911', serif;
    color:white;
    font-size:35px;
    padding-top:200px;
    padding-left:40px;
}

.home-page h1 {
    font-size:60px;
}

.home-page p {
    padding-top:-10px;
    font-size: 25px;
}

/* GMP */

.gmp {
    background-color:white;

}

.gmp p {
    font-style: italic;
    font-size:35px;
    font-weight:200;
    margin-bottom:40px;
    text-align:center;
    color:grey;
}

h2 {
    font-size:35px;
    color: grey;
    text-align:center;
    margin:0px;
    padding-top:40px;
    padding-bottom:40px;
}

#gmpp h2 {
    padding-bottom: 5px;
}

col-12 {
    padding-right:100px;
}

#gmpp li {
    font-size:15px;
    color: grey;
    list-style-type:none;
    font-weight: 600;
    padding-right:50px;
    padding-bottom:40px;
}
#gmp1 {
    padding-top:35px;
}

.gmp li {
    font-size:15px;
    color: grey;
    list-style-type:none;
    font-weight: 100;
    padding-right:50px;
    padding-bottom:8px;
}

.gmp-box {
    -webkit-box-shadow: 11px 0px 33px 9px rgba(218,235,222,0.36);
    -moz-box-shadow: 11px 0px 33px 9px rgba(218,235,222,0.36);
    box-shadow: 11px 0px 33px 9px rgba(218,235,222,0.36);
    border-radius: 40px 40px 40px 40px;
    background: #ffffff;;
}

.gmp-box p {
    font-size:15px;
    font-family:"Open Sans" sans-serif;
    text-align: left;
    margin-bottom:20px;
    padding-top:20px;
    font-weight:800;
}


.gmp-box i {
    display:block;
    padding-bottom:20px;
    padding-left:80px;
    color:grey;
    font-size:15px;
    
}

.row {
    margin-bottom: 50px;
}

.gmp-box i.fas::before {
    margin-right: 20px;
    font-size: 16px;
    border-radius: 50%;
    background-color: darkseagreen;
    padding: 6px;
}
/* SKILLS */ 

.skills {
    background-color:#f8f8f9;
}

.skills-box i {
    padding-left: 0px;
    padding-bottom:42px;
}

.skills-box i:last-of-type {
    line-height:2;
}

.skills p {
    text-align: center;
}

.skills-li {
    padding-left:100px;
    padding-right:80px;
}

/* MOTO */

.moto {
    background-color:darkseagreen;
    padding:80px 80px;
}

.motoP {
    font-size:25px;
    text-align:center;
    font-style: italic;
    font-weight:200;
    padding: 0px 50px;
}


/* CONTACT! */

.contact {
    background-color:#333;
    padding:80px;
}

.contact-info {
    display: inline-block;
}

h3 {
    color:white;
}

h3:hover {
    color:darkseagreen;
}

@media only screen and (max-width:399px) {
    /* .home-page h1 {
        color: orange;
    } */

    .home-page p {
        font-weight: 900;
    }

    .home-page {
        background: url(../img/gmpMainMobile.jpg);
        /* height: 100%; */
        background-size: cover;
        /* background-position: center center; */
        background-repeat: no-repeat;
        padding-top:50px;
        min-height: 679px;
    }

    .gmp li:last-of-type {
        padding-bottom: 40px;
    }

    h2 {
        font-size:50px;
        color: grey;
        text-align:center;
        margin:0px;
        padding-top:40px;
        padding-bottom:40px;
    }

    .gmp p {
        font-size: 25px;
    }

    .skills-li {
        padding-left:10px;
        padding-right:8px;
    }

    .motoP {
        font-size:15px;
        font-weight:600;
        padding: 0px;
    }

    .gmp p {
        font-size:20px;
    }
}

/* DESKTOP CSS */
/*max= device is less than Xpx */
/* @media (max-width: 768px) {
    .home-page {
        font-size:40px;
    }

    .home-page h1 {
        font-size:90px;
    }

    .gmp li {
        font-size:30px;
        padding-bottom:20px;
        padding-top:20px;
    }
}

@media (min-width: 600px) {
    .separator {
        display: none;
    }   
} */