body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color:grey;
}

/* HOME PAGE */

.home-page {
    background: url(../img/gmpMain.jpg);
	height: 100%;
	padding-top:50px;
	min-height: 679px;
	/* background-size: contain; */
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
    /* width:100%;
    height:800px; */
    font-family: 'Goudy Bookletter 1911', serif;
    color:white;
    font-size:35px;
    padding-top:200px;
    padding-left:40px;
}

.home-page h1 {
    font-size:60px;
}

.home-page p {
    padding-top:-10px;
    font-size: 25px;
}

/* GMP */

.gmp {
    background-color:white;

}

h2 {
    font-family: 'Patua One';
    font-size:100px;
    color: grey;
    text-align:center;
    margin:0px;
    padding-top:40px;
}
.gmp p {
    font-style: italic;
    font-size:35px;
    font-weight:200;
    margin-top: 0px;
    margin-bottom:20px;
    text-align:center;
    color:grey;
}

col-12 {
    padding-right:100px;
}
.gmp li {
    font-size:15px;
    color: grey;
    list-style-type:none;
    font-weight: 100;
    padding-right:50px;
}

.gmp li:first-of-type {
    padding-top:20px;
}

.separator {
    width:200px;
    border: .5px solid rgb(177, 177, 177);
    float: center;
    
}

.gmp-box {
    -webkit-box-shadow: 11px 0px 33px 9px rgba(218,235,222,0.36);
    -moz-box-shadow: 11px 0px 33px 9px rgba(218,235,222,0.36);
    box-shadow: 11px 0px 33px 9px rgba(218,235,222,0.36);
    border-radius: 40px 40px 40px 40px;
    background: #ffffff;;
}

.gmp-box p {
    font-size:15px;
    font-family:"Open Sans" sans-serif;
    text-align: left;
    margin-bottom:20px;
    padding-top:20px;
    font-weight:800;
}


.gmp-box i {
    display:block;
    padding-bottom:20px;
    padding-left:80px;
    color:grey;
    font-size:15px;
    
}

.row {
    margin-bottom: 50px;
}

.gmp-box i.fas::before {
    margin-right: 20px;
    font-size: 16px;
    border-radius: 50%;
    background-color: darkseagreen;
    padding: 6px;
}
/* SKILLS */ 

.skills {
    background: #f8f8f9;
}

.skills-box i {
    padding-left: 0px;
    padding-bottom:35px;
}

.skills-box i:last-of-type {
    line-height:2;
}

.skills p {
    text-align: center;
}


@media only screen and (max-width:500px) {
    .home-page {
        background: url(../img/gmpMainMobile.jpg);
        height: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed; 
        /* padding-top:50px;
        min-height: 679px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed; */
    }
}

/* DESKTOP CSS */
/*max= device is less than Xpx */
/* @media (max-width: 768px) {
    .home-page {
        font-size:40px;
    }

    .home-page h1 {
        font-size:90px;
    }

    .gmp li {
        font-size:30px;
        padding-bottom:20px;
        padding-top:20px;
    }
}

@media (min-width: 600px) {
    .separator {
        display: none;
    }   
} */